/.idea/
.git
/docs/
/build/
/legacy/
**/.DS_Store
**/*.iml
**/*.md
**/*.dump
**/*.log
**/*.ts
**/tslint.json
**/tsconfig.json
**/node_modules
**/Dockerfile*
/packages/web/
/packages/commons/
/packages/clients/
/graphql.config.json
/packages/mongo-to-postgres/
!/packages/mongo-to-postgres/src/*.go
/packages/backend/npm_scripts/
