# Docker can have only one top-level dockerignore file
/.idea/
.git
/docs/
/build/
/legacy/
**/*.iml
**/*.md
**/tslint.json
**/tsconfig.json
**/node_modules
**/Dockerfile*
/packages/web/
/packages/commons/
/packages/clients/
**/*.ts
/graphql.config.json
