.idea/
.tmp/
commons/
docs/
mobile-client/
typings/
web-client/
# Docker can have only one top-level dockerignore file
backend/build
backend/.build/
backend/backend.iml
backend/public
backend/node_modules
backend/deploy
backend/.meteor/dump
backend/.meteor/local
backend/.workers
# Use `meteor npm`, not yarn
backend/yarn.lock
/landing/node_modules/
