.idea/
node_modules/
typings/
.vscode/
settings.development.json
settings.production.json
package.tar.gz
private/workers/
/.meteor/dump
*.iml
/backend/build/
/.docker/env/production.env
/.docker/env/staging.env
/build/
/.tmp/
