**/node_modules/
/.idea/
/.gitsecret/
/tooling/scripts/bin/
/services/backend/dist/
/services/boompromo/build/
/packages/clients/dist/
/packages/commons/dist/
/services/web/build/
/services/landing/src/
/packages/mobile/.jest/
/packages/mobile/ios/
/packages/mobile/coverage/
/packages/mobile/android/
/packages/mobile/fastlane/
/services/workers/src/
/services/backend/coverage/
/services/db/dev_data/
/dev-mount/
