.idea/
node_modules/
typings/
.vscode/
settings.development.json
settings.production.json
settings.staging.json
whitewater.iml
package.tar.gz
private/workers/
/.meteor/dump
/public/images/
/public/temp/
