{
  "presets": [
    "react",
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "stage-2"
  ],
  "plugins": [
    ["transform-runtime", { "polyfill": false }]
  ],
  "env": {
    "development": {
      "plugins": [
        "import-asserts",
        "react-hot-loader/babel"
      ]
    }
  }
}