/node_modules
src/**/*.js
src/**/*.js.map
/src/ww-commons/
/services/backend/yarn-error.log
src/**/dump.sql
.env.*
!.env.*.secret
/coverage/
/dist/
/services/backend/src/migrations/014/riverzone.json
