{$SENTRY_URL_PREFIX} {

  tls {$ADMIN_EMAIL} {
    # The line below uses staging certificate
    # Comment it out to use real certificate
    # ca https://acme-staging-v02.api.letsencrypt.org/directory
  }

  header / {
    -Server
  }

  gzip

  proxy / nginx:80 {
    transparent
  }

  errors stdout

}

{$WEBLATE_URL_PREFIX} {

  tls {$ADMIN_EMAIL} {
    # The line below uses staging certificate
    # Comment it out to use real certificate
    # ca https://acme-staging-v02.api.letsencrypt.org/directory
  }

  header / {
    -Server
  }

  gzip

  proxy / weblate:8080 {
    transparent
  }

  errors stdout

}
