import subdomains/*

{$ROOT_ADDRESS} {
  import caddy-common.conf

  gzip

  # legacy redirect
  redir 301 {
    if {path} starts_with /admin
    / {$ADMIN_ADDRESS}
  }
  # legacy backend rewrites.
  rewrite / {
    if {path} starts_with /graphql
    if {path} starts_with /graphiql
    if {path} starts_with /auth
    if {path} starts_with /ping
    if {file} is schema.json
    if {file} is typedefs.txt
    if_op or
    to /backend{uri}
  }
  proxy /backend backend:3333 {
    without /backend
    header_downstream X-Legacy-Response 1
    header_upstream X-Legacy-Redirect 1
    transparent
  }
  # legacy redirect
  redir 301 {
    if {path} starts_with /images
    if {path} starts_with /uploads
    if_op or

    / {$MINIO_ADDRESS}{uri}
  }

  rewrite /.well-known/assetlinks.json /well-known/assetlinks.json
  header /well-known/assetlinks.json Content-Type application/json
  header /well-known/assetlinks.json Cache-Control public
  header /well-known/assetlinks.json Cache-Control max-age=86400
  rewrite /.well-known/apple-app-site-association /well-known/apple-app-site-association
  header /well-known/apple-app-site-association Content-Type application/json
  header /well-known/apple-app-site-association Cache-Control public
  header /well-known/apple-app-site-association Cache-Control max-age=86400

  # Root is landing
  rewrite / {
    if {path} is /
    if {path} is /index.html
    if_op or
    to /landing.html
  }

  # russian landing
  rewrite / {
    if {path} starts_with /ru
    to {path} landing_ru.html
  }

  proxy /boompromo boompromo:8043 {
    without /boompromo
    transparent
  }

  proxy / landing:8043 {
    transparent
  }

}
