import subdomains/*

{$ROOT_ADDRESS} {
  import caddy-common.conf

  gzip

  # legacy redirect
  redir 301 {
    if {path} starts_with /admin
    / {$ADMIN_ADDRESS}
  }
  # legacy backend rewrites.
  rewrite /graphql {$API_ADDRESS}/legacy/graphql
  rewrite /auth {
    r  (.*)
    to {$API_ADDRESS}/legacy/auth{1}
  }
  # legacy redirect
  redir 301 {
    if {path} starts_with /images
    if {path} starts_with /uploads
    if_op or

    / {$MINIO_ADDRESS}{uri}
  }

  # Root is landing
  rewrite / {
    if {path} is /
    if {path} is /index.html
    if_op or
    to /landing.html
  }

  # russian landing
  rewrite / {
    if {path} starts_with /ru
    to {path} landing_ru.html
  }

  proxy /boompromo boompromo:8043 {
    without /boompromo
    transparent
  }

  proxy / landing:8043 {
    transparent
  }

}
