/*.ReactVirtualized__Table {*/
/*font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*}*/

.ReactVirtualized__Table__Grid:focus {
  outline: none;
}

.ReactVirtualized__Table__headerRow {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid #d0d0d0;
  text-transform: none;
}

.ReactVirtualized__Table__row {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.ReactVirtualized__Table__row:focus {
  outline: none;
}

.ReactVirtualized__Table__row:nth-child(odd) {
  background-color: #f5f5f5;
}

.ReactVirtualized__Table__row:hover {
  background-color: #eeeeee;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
